
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EWDetail</title>
    <link href="~/Content/index.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/admin.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.8.3.min.js" type="text/javascript"></script>
    <!--表格展示部分-->
    <link href="~/Content/src/bootstrap.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Content/src/mmGrid.css" />
    <script type="text/javascript" src="~/Content/src/mmGrid.js"></script>
    <link href="~/Content/src/themes/mmGrid-bootstrap.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Content/src/mmPaginator.css" />
    <script type="text/javascript" src="~/content/src/mmPaginator.js"></script>
    <link href="~/Content/src/themes/mmPaginator-bootstrap.css" rel="stylesheet" type="text/css" />
    <!--日历插件开始-->
    <link href="~/Content/lhgCalendar/lhgcalendar.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/lhgCalendar/lhgcalendar.min.js" type="text/javascript"></script>
    <style type="text/css">
        .m .jiansuo {
            height: auto;
            margin-bottom: 0px;
        }
    </style>
</head>
<body>
    <div id="UserManageMent" style="width:880px">
        <div class="m">
            <div class="jiansuo">
                <span>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号</span>：
                <input id="xh" class="input_out" size="13" style="width:100px" name="" type="text" />
            </div>
            <div class="jiansuo">
                <span>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</span>：
                <input id="xm" class="input_out" size="13" style="width:100px" name="" type="text" />
            </div>
            <div class="jiansuo">
                <span>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;院</span>：
                <input id="yxmc" class="input_out" size="13" style="width:100px" name="" type="text" />
            </div>
            <div class="jiansuo">
                <span>专&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;业</span>：
                <input id="zymc" class="input_out" size="13" style="width:100px" name="" type="text" />
            </div>
            <div class="jiansuo">
                <span>班&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;级</span>：
                <input id="bjmc" class="input_out" size="13" style="width:100px" name="" type="text" />
            </div>
            <div class="jiansuo">
                <span>时&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;间</span>：
                <input id="time" class="input_out" size="13" style="width:100px" name="" type="text" />
            </div>
            <div class="jiansuo">
                <span>天&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;数</span>：
                <input id="warning" class="input_out" size="13" style="width:100px" name="" type="text" />
            </div>
            <div class="jiansuo">
                <span>辅导员</span>：
                <input id="fdy" class="input_out" size="13" style="width:100px" name="" type="text" />
            </div>

            @*<div class="jiansuo" style="width:350px">
                <span>借阅时间</span>：
                <input id="begtime" class="input_out runcode" size="10" style="width:100px" name="" type="text" /> ~
                <input id="endtime" class="input_out runcode" size="10" style="width:100px" name="" type="text" />
                <script type="text/javascript" charset="utf-8">
                    $(function () {
                        $('#begtime').calendar({ maxDate: '%y-%M-%d', format: 'yyyy-MM-dd' });
                        $('#endtime').calendar({ maxDate: '%y-%M-%d', format: 'yyyy-MM-dd' });
                    });
                </script>
            </div>*@
            <div class="jiansuo" style="text-align:right; width:60px; float:right; ">
                <input id="btn" class="btn btn-success" size="10" style="float:right" name="" value="检索" type="button" />
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
    <div class="all-in-one" style="width:950px;">
        <table id="mmg"></table>
        <div id="pg" style="text-align: right; clear:both"></div>
    </div>

    <script src="~/Scripts/BASE.js" type="text/javascript"></script>
    <script type="text/javascript" language="javascript">
    $(document).ready(function () {
        //获取传参
        var $_GET = (function () {
            var url = window.document.location.href.toString();
            var u = url.split("?");
            if (typeof (u[1]) == "string") {
                u = u[1].split("&");
                var get = {};
                for (var i in u) {
                    var j = u[i].split("=");
                    get[j[0]] = j[1];
                }
                return get;
            } else {
                return {};
            }
        })();
        //详细数据
        var cols = [
                        { title: '预警学生详细信息', align: 'center', cols: [
                        { title: '学号', name: 'XH', width: 90, sortable: true, align: 'center' },
                        { title: '姓名', name: 'XM', width: 60, sortable: true, align: 'center' },
                        { title: '学院', name: 'YXMC', width: 70, sortable: true, align: 'center' },
                        { title: '专业', name: 'ZYMC', width: 120, sortable: true, align: 'center' },
                        { title: '班级', name: 'BJMC', width: 70, sortable: true, align: 'center' },
                        { title: '时间', name: 'TIME', width: 80, sortable: true, align: 'center' },
                        { title: '天数', name: 'WARNING', width: 80, sortable: true, align: 'center' },
                        { title: '辅导员', name: 'FDY', width: 70, sortable: true, align: 'center' }
                      ]
                        }
                        ];
        //检索字段向后台传参:组成方式为"{字段名:值}"
        $.fn.TransferParams = function () {
            var st = {};
            var param = ["xh", "xm", "yxmc", "zymc", "bjmc", "time", "warning", "fdy"];
            for (var i = 0; i < param.length; i++) {
                if ((document.getElementById(param[i]) != null) && (document.getElementById(param[i]).value != "")) {
                    st[param[i]] = document.getElementById(param[i]).value;
                }
            }
            $.extend(st, { "data": "EWDetail", "type": "tablepaged" });
            global_params = st;
        };
        $('#btn').click(function () {
            $.fn.TransferParams();
            $('#pg').load({ page: 1 });
            mmg.load({ 'page': 1 });
        });

        var mmg = $('#mmg').mmGrid({
            height: 280
            , width: 940
		    , cols: cols
            , indexCol: true
            , sortName: 'LOAN_TIME'
            , sortStatus: 'desc'
            , remoteSort: true
		    , url: '/Service/EarlyWarning.ashx'
            , method: 'get'
            , autoLoad: true
            , fullWidthRows: true //伸展列宽自动充满表格
		    , nowrap: false //内容不折行
		    , plugins: [
                            $('#pg').mmPaginator({})
			    ] //分页插件
        });

        //判断是否有传参
        if ($_GET["xh"] != null) {
            document.getElementById("xh").value = unescape($_GET["xh"]);
            $.fn.TransferParams();
        }
        if ($_GET["xm"] != null) {
            document.getElementById("xm").value = unescape($_GET["xm"]);
            $.fn.TransferParams();
        }
        if ($_GET["yxmc"] != null) {
            document.getElementById("yxmc").value = unescape($_GET["yxmc"]);
            $.fn.TransferParams();
        }
        if ($_GET["zymc"] != null) {
            document.getElementById("zymc").value = unescape($_GET["zymc"]);
            $.fn.TransferParams();
        }
        if ($_GET["bjmc"] != null) {
            document.getElementById("bjmc").value = unescape($_GET["bjmc"]);
            $.fn.TransferParams();
        }
        if ($_GET["time"] != null) {
            document.getElementById("time").value = unescape($_GET["time"]);
            $.fn.TransferParams();
        }
        if ($_GET["warning"] != null) {
            document.getElementById("warning").value = $_GET["warning"];
            $.fn.TransferParams();
        }
        if ($_GET["fdy"] != null) {
            document.getElementById("fdy").value = unescape($_GET["fdy"]);
            $.fn.TransferParams();
        }

        $('#btn').click();
    });
    </script>
</body>
</html>
