
@{
    ViewBag.Title = "TSLYL";
}

<!--表格展示部分-->
<link rel="stylesheet" type="text/css" href="~/Content/src/mmGrid.css" />
<link href="~/Content/src/themes/mmGrid-bootstrap.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/Content/src/mmGrid.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/src/mmPaginator.css" />
<link href="~/Content/src/themes/mmPaginator-bootstrap.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/Content/src/mmPaginator.js"></script>
<!--highcharts-->
<script src="~/Content/highcharts/highcharts.js" type="text/javascript"></script>
<script src="~/Content/highcharts/exporting.js" type="text/javascript"></script>
<script src="~/Content/highcharts/export-csv.js" type="text/javascript"></script>
<script src="~/Content/highcharts/highcharts-3d.js" type="text/javascript"></script>
<script src="~/Content/highcharts/Sand-Signika.theme.js" type="text/javascript"></script>
<!--日历插件开始-->
<link href="~/Content/lhgCalendar/lhgcalendar.css" rel="stylesheet" type="text/css" />
<script src="~/Content/lhgCalendar/lhgcalendar.min.js" type="text/javascript"></script>
<!--Autocomplete-->
<link href="~/Content/Jquery-ui/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="~/Content/Jquery-ui/jquery-ui.js" type="text/javascript"></script>

<div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>信息检索</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up" id="jiansuo_btn"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" style="min-width:auto;" role="menu">
                            <li>
                                <a href="JavaScript:void(0);">刷新</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" id="jiansuo_content">
                <!--查询条件组-->
                <div class="input-group col-xs-12 col-sm-12 col-md-12" style="float:left;">
                    <span class="input-group-addon">起始日期</span>
                    <input type="text" class="form-control" id="tslyl_begtime"placeholder="点选下拉框中的时间" readonly>
                </div>
                <div class="input-group col-xs-12 col-sm-12 col-md-12" style="float:left;">
                    <span class="input-group-addon">结束日期</span>
                    <input type="text" class="form-control" id="tslyl_endtime"placeholder="点选下拉框中的时间" readonly>
                </div>
                <script type="text/javascript" charset="utf-8">
                $(function () {
                    $('#tslyl_endtime').calendar({ maxDate: '%y-%M-%d', format: 'yyyy-MM-dd' });
                    $('#tslyl_begtime').calendar({ maxDate: '%y-%M-%d', format: 'yyyy-MM-dd' });
                });
                </script>
                <div class="input-group col-xs-12 col-sm-12 col-md-12" style="float:left;">
                    <span class="visible-xs visible-sm visible-md visible-lg">快速检索</span>
                    <button type="button" class="tslyl_change btn btn-default btn-info">一周</button>
                    <button type="button" class="tslyl_change btn btn-default">两周</button>
                    <button type="button" class="tslyl_change btn btn-default">一月</button>
                    <button type="button" class="tslyl_change btn btn-default">一年</button>
                </div>
                <div class="input-group col-xs-12 col-sm-12 col-md-12" style="float:left;">
                    <button type="button" id="but_export" class="btn btn-warning visible-md-inline visible-lg-inline">导出</button>
                    <button type="button" class="tslyl_submit btn btn-primary pull-right">检索</button>
                </div>
                <!--查询条件组-->
            </div>
        </div>
    </div>
    <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>图书利用率展示</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" style=" min-width:auto;" role="menu">
                            <li>
                                <a href="JavaScript:void(0);">刷新</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" id="tslyl_container" style="height:342px">
                这里是图表
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title" id="table_width">
                <h2>详细数据</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" style="min-width:auto;" role="menu">
                            <li>
                                <a href="JavaScript:void(0);">刷新</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" style="overflow:hidden">
                <div id="tslyl_detail"></div>
            </div>
        </div>
    </div>
</div>
<!--时间处理函数-->
<script src="~/Content/TimeObjectUtil/TimeObjectUtil.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //图书利用率图形化展示
        var tslyl_params = { "data": "tslyl", "type": "column", "time": "一周" };
        function tslyl_ajax() {
            $.ajax({
                type: "GET",
                url: "/Service/Library.ashx",
                data: tslyl_params,
                dataType: "text",
                success: function (data) {
                    if (data == "nosession") {
                        window.location.href = "/Login/Index";
                        return;
                    }
                    //将json字符串转换为json对象
                    var items = eval("(" + data + ")");

                    $('#tslyl_container').highcharts({
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: null
                        },
                        subtitle: {
                            text: null
                        },
                        xAxis: {
                            categories: items["xAxis"],
                            title: {
                                text: null
                            },
                            labels: {
                                formatter: function () {
                                    if (this.value.length > 5)
                                        return this.value.substr(0, 5) + "...";
                                    else
                                        return this.value;
                                }
                            }
                        },
                        yAxis: {
                            title: {
                                text: '利用率',
                                style: {
                                    color: '#4572A7'
                                }
                            },
                            labels: {
                                formatter: function () {
                                    return this.value + '%';
                                },
                                style: {
                                    color: '#4572A7'
                                }
                            }
                        },
                        tooltip: {
                            valueSuffix: ' %'
                        },
                        plotOptions: {
                            column: {
                                dataLabels: {
                                    enabled: false
                                }
                            }
                        },
                        legend: {
                            align: 'right',
                            verticalAlign: 'top',
                            x: -10,
                            y: 30,
                            floating: true
                        },
                        credits: {
                            enabled: false
                        },
                        series: [{
                            name: "借阅量",
                            color: '#4572A7',
                            data: items["data"][0]["data"]
                        }]
                    });
                }
            })
        };
        //图书利用率表格(详细)展示
        global_params = { "type": "table", "data": "tslyl", "time": "一周" };
        var cols = [
                        {
                            title: '图书利用率详细数据', align: 'center', cols: [
                            { title: '分类', name: 'NAME', width: 300, sortable: true, align: 'center' },
                            { title: '利用率', name: 'LYL', width: 100, sortable: true, align: 'center', type: 'number' },
                            { title: '借阅量', name: 'BORROW', width: 100, sortable: true, align: 'center', type: 'number' },
                            { title: '馆藏数目', name: 'TOTAL', width: 100, sortable: true, align: 'center', type: 'number' }
                            ]
                        }];
        var mmg = $('#tslyl_detail').mmGrid({
            height: 500
            , width: document.getElementById("table_width").clientWidth - 10
		    , cols: cols
            , indexCol: true
            , url: '/Service/Library.ashx'
            , method: 'get'
            , fullWidthRows: true //伸展列宽自动充满表格
		    , nowrap: false //内容不折行
        });
        mmg.on('cellSelected', function (e, item, rowIndex, colIndex) {
            if ($(e.target).is('.btn-bill')) {
                e.stopPropagation();  //阻止事件冒泡
                tslylclicked(item.NAME);
            }
        });
        ///////////////////////////////////////////////////////////////////////
        //tslyl_change点击后触发检索数据行为
        $(".tslyl_change").click(function () {
            $('.tslyl_change').removeClass("btn-info");
            $(this).addClass("btn-info");
            delete tslyl_params.begtime;
            delete tslyl_params.endtime;
            tslyl_params = $.extend(tslyl_params, { "time": this.innerText });
            tslyl_ajax();
            delete global_params.begtime;
            delete global_params.endtime;
            global_params = $.extend(global_params, { "time": this.innerText });
            //检索条件赋值
            mmg.load();
        });
        //检索按钮点击后触发检索数据行为
        $(".tslyl_submit").click(function () {
            if (document.getElementById('tslyl_begtime').value > document.getElementById('tslyl_endtime').value) {
                alert("开始时间大于结束时间或时间为空");
            } else if ((document.getElementById('tslyl_begtime').value != "") || (document.getElementById('tslyl_endtime').value != "")) {
                $('.tslyl_change').removeClass("btn-info");
                delete tslyl_params.time;
                tslyl_params = $.extend(tslyl_params, { "begtime": document.getElementById('tslyl_begtime').value, "endtime": document.getElementById('tslyl_endtime').value });
                delete global_params.time;
                global_params = $.extend(global_params, { "begtime": document.getElementById('tslyl_begtime').value, "endtime": document.getElementById('tslyl_endtime').value });
            }
            //检索条件赋值
            mmg.load();
            tslyl_ajax();
        });
        //导出数据到excel
        var export_params = { "type": "export_excel", "data": "tslyl", "time": "一周" };
        $("#but_export").click(function () {
            export_params = $.extend(global_params, { "type": "export_excel" });
            var dynamicForm = document.createElement("form");
            document.body.appendChild(dynamicForm);
            dynamicForm.setAttribute("method", "get");
            dynamicForm.setAttribute("action", "/Service/Library.ashx");
            dynamicForm.innerHTML = "";
            for (var pam in export_params) {
                var input = document.createElement("input");
                input.setAttribute("type", "hidden");
                input.setAttribute("name", pam);
                input.setAttribute("value", export_params[pam]);
                dynamicForm.appendChild(input);
            }
            dynamicForm.submit();
        });
        ///////////////////////////////////////////////////////////////////////
        //浏览器大小缩放时操作
        window.onresize = function () {
            GZL24H_changeDivHeight();
        }
        //浏览器宽度
        var body_width = 0;
        function GZL24H_changeDivHeight() {
            //因手机端选择输入框时会触发resize事件，因此执行前先判断浏览器宽度有无变化
            if (document.getElementById("table_width").clientWidth != body_width) {
                tslyl_ajax();
                $.extend(mmg.opts, { width: (document.getElementById("table_width").clientWidth - 10), height: 500 });
                mmg.resize();
                if (document.getElementById("table_width").clientWidth < 768) {
                    $("#jiansuo_btn").removeClass("fa-chevron-up");
                    $("#jiansuo_btn").addClass("fa-chevron-down");
                    $("#jiansuo_content").css("display", "none");
                }
                else {
                    $("#jiansuo_btn").removeClass("fa-chevron-down");
                    $("#jiansuo_btn").addClass("fa-chevron-up");
                    $("#jiansuo_content").css("display", "block");
                }
            }
            body_width = document.getElementById("table_width").clientWidth;
        }
        //浏览器大小缩放时操作
        GZL24H_changeDivHeight();
        ///////////////////////////////////////////////////////////////////////
    });
</script>