<!DOCTYPE html>
<html>
<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Bootstrap -->
    <link href="~/Content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--[if lte IE 6]>
    <link rel="stylesheet" type="text/css" href="/content/vendors/bootstrap/dist/css/bootstrap-ie6.css">
    <![endif]-->
    <!--[if lte IE 7]>
    <link rel="stylesheet" type="text/css" href="/content/vendors/bootstrap/dist/css/ie.css">
    <![endif]-->
    <!-- Font Awesome -->
    <link href="~/Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/Content/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="~/Content/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- jVectorMap -->
    <link href="~/Content/build/css/maps/jquery-jvectormap-2.0.3.css" rel="stylesheet" />

    <!-- Custom Theme Style -->
    <link href="~/Content/build/css/custom.min.css" rel="stylesheet">

    <script src="~/Scripts/jquery-2.1.1.js"></script>
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col" style="z-index:1040;">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="/Home/Show" class="site_title">
                            <span>
                                <img src="~/Content/build/images/logo.png" width="210px"; height="45px" />
                            </span>
                        </a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile">
                        <div class="profile_pic">
                            <img src="~/Content/build/images/img.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>@Session["name"]</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-home"></i> 预警系统 <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/Home/Show">校情展示</a></li>
                                        <li><a href="/Home/Index">数据预警</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa  fa-bar-chart-o"></i> 图情统计分析 <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/Library/Library">馆内基本情况统计</a></li>
                                        <li><a href="/Library/RDTS">热点图书分析</a></li>
                                        <li><a href="/Library/TSLYL">图书利用率统计</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa  fa-credit-card"></i> 校园卡数据分析 <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="~/Card/Card">校园卡系统</a></li>
                                        <li><a href="~/Card/StuMap">生源地分析</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" href="/Login/Index" data-placement="top" title="Logout">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav class="" role="navigation">
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <div class="nav toggle visible-sm visible-md visible-lg" style="width:auto;">
                            <a style="font-size:18px;">上海第二工业大学数据展示分析平台</a>
                        </div>
                        <div class="nav navbar-nav navbar-right" style="width:30%">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/Content/build/images/img.jpg" alt="">
                                    <span class="fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <!--权限控制-->
                                    
                                    <li class="visible-lg visible-md"><a id="PasswordReset" data-toggle="modal" data-target="#PasswordReset1" href="javascript:;">密码修改</a></li>
                                    <li><a href="/Login/Index"><i class="fa fa-sign-out pull-right"></i> 退出登陆</a></li>
                                </ul>
                            </li>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    coppyright <a href="https://github.com/wangdaohan1234/DataShow/commit/35fbd885aa1da69f97d4bdd50dab217cd05e4578">Andy</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- 用户管理 -->
    <div class="modal fade" id="UserManage1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="width:650px;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="H3">用户管理</h4>
                </div>
                <div class="modal-body">
                    <iframe id="admin_user" src="/admin/user" style="border:0px; width:620px; height:460px"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- 组管理 -->
    <div class="modal fade" id="GroupManage1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="width:650px;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="H4">模块管理</h4>
                </div>
                <div class="modal-body">
                    <iframe id="admin_group" src="/admin/group" style="border:0px; width:620px; height:480px"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- 模块管理 -->
    <div class="modal fade" id="ApplyManage1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="width:800px;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="H2">模块管理</h4>
                </div>
                <div class="modal-body">
                    <iframe id="admin_apply" src="/admin/apply" style="border:0px; width:770px; height:480px"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- 密码重置 -->
    <div class="modal fade" id="PasswordReset1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="width:400px;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="H1">密码重置</h4>
                </div>
                <div class="modal-body">
                    <iframe id="Iframe1" src="/Manage/PwdReset" style="border:0px; width:370px; height:280px"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- 弹窗按钮 -->
    <button id="tangchuangM" class="btn btn-bill btn-info visible-md visible-lg" data-toggle="modal" data-target="#tanchuang" style="visibility:hidden"></button>
    <!-- 弹窗 -->
    <div class="modal fade" id="tanchuang" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="width:1000px;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="tanchuang_title">这是标题</h4>
                </div>
                <div class="modal-body">
                    <iframe id="tanchuang_content" src="/Home/Index" style="border:0px; width:970px; height:460px"></iframe>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<!-- Custom Theme Scripts -->
<script src="~/Content/build/js/custom.min.js"></script>
<script src="~/Content/vendors/bootstrap/dist/js/bootstrap.min.js" rel="stylesheet"></script>
<script src="~/Scripts/printThis.js" type="text/javascript"></script>